<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.local_vosk_flutter">
    <!-- The RECORD_AUDIO permission is essential for voice recognition -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- Internet permission might be needed for model downloads -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Storage permissions for saving/loading models -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>