[Desktop Entry]
Name=OpenDSA: Reading
Comment=Applicazione per assistere persone con dislessia nella lettura
Exec=OpenDSA-Reading
Icon=OpenDSA-Reading
Type=Application
Categories=Education;Accessibility;
Terminal=false
